.contactUs{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 50px 0;

}

.contactUs h2{
    color: #3156a3;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}

.contactUs a{
    font-family: "Open Sans", sans-serif;
    margin-left: 50px;
    color: #FFF;
    background: #3156a3;
    padding: 20px 40px;
    text-transform: uppercase;
}