.area2--img2 {
    width: 50%;
    background-image: url('../img/mulherPraia.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 0;
}

.medicenter-family-left {
    width: 500px;
    padding-top: 50px;
    padding-bottom: 200px;
    padding-right: 100px;
    margin-left: auto;
}

.itens {
    display: flex;
    justify-content: left;
    gap: 40px;
}

.itens li {
    position: relative;
    padding: 0 0 20px 40px;
}

.itens li::before {
    content: "\2713";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    text-align: center;
    color: #42B3E5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
}