.area1--img1 {
    width: 50%;
    background-image: url('../img/mulherbebe.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.medicenter-family-right {   
    width: 500px; 
    padding-top: 50px;
    padding-bottom: 200px;
    padding-left: 100px;
}

.bar-area{
    margin-top: 70px;
    max-width: 100%;
}

.bar-item{
    background-color: #e5e5e5;
}

.bar-progress1, .bar-progress2, .bar-progress3 {
    position: relative;
    height: 2px;
    background-color: #42b3e5;
    margin: 30px 0;
    width: 0%; /* Inicialmente, as barras começam com 0% de largura */
    transition: width 1s ease; /* Transição suave da largura durante 1 segundo */
}

.bar-check{
    position: absolute;
    top: -10px;
    right: 0;
    padding: 10px 14px;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    background-color: #42b3e5;
}