.parallax2 {
  margin-top: 50px;
  position: relative;
  height: 500px;
  background-image: url('../img/parallax2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.parallax2-area {
  display: flex;
  overflow: hidden; /* Oculta conteúdo fora do contêiner */
  position: relative;
  height: 100%;
}

.parallax2-item {
  flex: 0 0 100%;
  box-sizing: border-box;
  padding: 0 10px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.parallax2-item.active {
  opacity: 1;
}

.parallax2 .area {
  display: flex;
  flex-direction: column;
  position: relative; /*Fica mais nítido o branco*/
}

.controls-parallax {
  position: absolute;
  display: flex;
  right: 0;
  top: 20px;
}

.control-left-parallax,
.control-right-parallax {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255,255,255,0.8);
    width: 28px;
    height: 28px;
    color: #FFF;
    font-size: 10px;
    cursor: pointer;
}

 .control-left-parallax:hover {
    border: 1px solid red !important;
}



.parallax2 .area h3,
.parallax2 .area cite {
  color: #FFF;
  font-family: "Open Sans", sans-serif;
}

.parallax2 .area h3 {
  text-align: center;
  font-size: 28px;
  font-style: italic;
  font-weight: 500;
}

.parallax2 .area h3::before {
  content: '"';
  display: block;
  font-size: 60px;
  margin-right: auto;
  margin-left: auto;
}

.parallax2 .area h3::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 45px;
  background-color: #FFF;
}

.parallax2 .area cite {
  text-align: center; /* Centraliza a citação */
  margin-top: 20px; /* Espaçamento superior menor */
  display: block;
}
