  .parallax {
    position: relative;
    height: 600px;
    background-image: url('../img/mulherSorrindo.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .parallax::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(77, 91, 121, 0.2);      
  }
  .area{   
    display: flex;
    justify-content: space-around;
    align-items: center;    
    height: 100%;
    position: relative; /*texto mais nítido*/
  }

  .area-text{
    text-align: center;  
  }

  .area span{
    font-family: "Open Sans", sans-serif;
    font-size: 46px;
    color: #FFF;    
    font-weight: 400;    
  }

  .area p{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #FFF;    
    letter-spacing: 1px;
    margin: 0;    
  }