@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import "menu.css";
@import "welcome.css";
@import "parallax.css";
@import "contactUS.css";
@import "texto.css";
@import "services.css";
 html {
    height: 100%;
  }

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

figure {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333;
    padding: 0;
    margin: 0;
}

.btn-service{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-service a{
    padding: 20px 40px;
    background-color: #42B3E5;
    text-transform: uppercase;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;   

}

@media (max-width:1200px) {
    .container {
        max-width: 950px !important;

    }
}

@media (max-width:1000px) {
    .container {
        max-width: 750px !important;

    }
}


@media (max-width:770px) {
    .container {
        max-width: 470px !important;
        

    }

}